// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$blue1: #88CFF9;
$blue2: #D4F8F9;
$bluegreen: #BEF4F4;
$green1: #A1F0EB;
$green2: #8BE3D9;
