<div class='home-container'>


  <% if current_user %>
    <div class='sidebar-container'>
      <h4>Choose an option</h4>
      <h6>Book an appointment</h6>
      <h6>check booked appointments</h6>
      <h6>Message your GP</h6>
    </div>

    <div class='home-main-body'>
      <h1>Welcome back <%= current_user.full_name %></h1>
      <div>
        <h2>Surgery announcements:</h2>
      </div>
    </div>

  <% else %>
    <h1>Welcome to the surgery portal</h1>

    <h2>Display public announcements</h2>
  <% end %>

</div>
