.navbar-container {
  height: 60px;
  display: flex;
  width: 100%;
  border-bottom: 2px solid $blue1;
  background-color: $blue2;
}

.navbar-inner {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;

}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
  img {
    margin: 0px 8px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .log-out-btn {
    background-color: $blue2;
    border: 2px solid $blue1;
    border-radius: 4px;
  }
}
